<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
         <a href="./index.html">
         <img class="bunnylogo" src="img/bunnylogo.jpg" alt="bunnylogo">
         </a>
         <h3 class="navheader pink-text"><b>Strawbnny<br>Jewelery</b></h3>
        <div class="collapse navbar-collapse" id="Navbar">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item pink-text active"><a class="nav-link" href="./index.html">Home</a></li>
             <li class="nav-item pink-text"><a class="nav-link" href="./shop.html">Shop</a></li>
             <li class="nav-item pink-text"><a class="nav-link" href="./customs.html">Customs</a></li>
             <li class="nav-item"><a class="nav-link" href="./cart.html"><span class="fa fa-shopping-cart"></span></a></li>
           </ul>
       </div>
    </div>
  </nav>
